*                       		@keghub/emg-reviewers
*.cake                  		@keghub/emg-devops
.dockerignore           		@keghub/emg-devops
Dockerfile              		@keghub/emg-devops
package.json            		@keghub/emg-devops
package-lock.json       		@keghub/emg-devops
azure-pipelines.yml     		@keghub/emg-devops
task-execution-role.json		@keghub/emg-devops
.github/                		@keghub/admins